
 <!-- <input type="text" [(ngModel)]="power">
 {{power | exponential}} -->
<!-- {{title}}
<div *ngIf="title === 'julian'">
  este es un div {{title}}
</div>

<div *ngIf="title === 'nicolas'">
  este es un div {{title}}
</div>

<div *ngIf="title === 'camilo'">
    este es un div {{title}}
</div>
<div *ngIf="title === 'platzi-store'">
      este es un div {{title}}
</div>

<div [ngSwitch] = "title">
  <p *ngSwitchCase=" 'nicolas' ">Este es {{title}}</p>
  <p *ngSwitchCase=" ' julian' ">Este es {{title}}</p>
  <p *ngSwitchCase=" 'pedro' ">Este es {{title}}</p>
  <p *ngSwitchDefault>No hay ningun title</p>
</div> -->

<!-- <div *ngIf="title === 'plastzi-store'; then store else welcome">
  Simple vista
</div> -->
<!-- creamos una vista o template de nombre store -->
<!-- la misma será referencidad en la condición de arriba -->
<!-- <ng-template #store>
  Mostrando contenido
</ng-template>

<ng-template #welcome>
  Bienvenido a Platzi Store
</ng-template>
<br/>
<button (click)="addItem()">
  <span>Add item</span>
</button>
<ul>
  <li *ngIf="items.length === 0">La lista esta vacia con: {{items.length}} de elementos"</li>
  <li *ngFor="let name of items; index as i">
    {{name}} {{i}}
    <button (click)="deleteItem(i)">
      <span>Delete item</span>
    </button>
  </li>
</ul> -->


